*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: rgb(255, 253, 154)
}


/* HEADER STYLES */

header {
    padding: 25px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a,
nav button {
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
}

nav a:hover,
nav button:hover {
    opacity: 0.5;
}

/* OBRAS STYLES */
.obra{
    background-color: #202222;
    color: #fffde0;
    padding: 4%;
    margin-bottom: 40px;
    border-radius: 3px
}

.obra-contenido img {
    width: 46%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0;
    transition: transform 0.4s ease;

}
.obra-contenido  img:hover{
    transform: scale(1.02);

}


.obra-contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6%;

}
.obra-contenido p{
    width: 48%;
    font-size: 17px;
    line-height: 1.8;
    text-align: left;
    padding: 0;
    margin: 0;
    color: #f1f0e5;
}

.numero-obra{
    font-size: 18px;
    font-weight: bold;
    color: #fff35c;
    margin: 0;
}

.encabezado-obra{
    display: flex;
    align-items: baseline;
    gap: 18 px;
    margin-bottom: 30px;
}

.encabezado-obra h2{
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0;
    color :#fff35c;

}

.obra-invertida .obra-contenido{
    flex-direction: row-reverse;
}